.root {
    -fx-background-color: #727273;
}

.pane {
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(208, 208, 208, 0.6), 10, 0.5, 0.0, 0.0);
}

.label {
    -fx-text-fill: #d4d4d4;
    -fx-font-size: 17px;
    -fx-background-color: #474454;
    -fx-background-radius: 20;
    -fx-border-radius:20;
    -fx-border-color: white;
}

#version {
    -fx-text-fill: #d4d4d4;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.hyperlink {
    -fx-text-fill: #527EFA;
    -fx-font-size: 17px;
    -fx-background-color: #474454;
    -fx-background-radius: 20;
    -fx-border-radius:20;
    -fx-border-color: white;
    -fx-border-style: solid;
}

#card1 {
    -fx-background-color:#4C4C4C;
}

#card2 {
    -fx-background-color:#2B2B2B;
}

#card3 {
    -fx-background-color:#4C4C4C;
}