/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');*/

* {
    -fx-font-family: "Century Gothic";
}

.text-area {
    -fx-wrap-text: true;
    -fx-text-fill: #d4d4d4;
    -fx-control-inner-background: #212328;
    -fx-text-box-border: transparent;
    -fx-prompt-text-fill: #212328;
    -fx-border-color: transparent;
    -fx-border-width: 5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.text-area .content {
    -fx-background-radius: 10;
}

.tab-pane .label {
    -fx-background-color: transparent;
}

#backMain {
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: #212328;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

#backMain > .button:pressed {
    -fx-font-family: sans-serif;
    -fx-background-color: black;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}


#printWord {
    -fx-control-inner-background: #8d65e5;
    -fx-font-size: 68px;
    -fx-font-weight: bold;
}

#printType {
    -fx-control-inner-background: #385fc7;
    -fx-font-size: 22px;
}

#printSpeech {
    -fx-background-color: #8d65e5;
    -fx-font-size: 17px;
}

#speakSpeech {
    -fx-border-color: #b4b4b4;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

#printMeaning {
    -fx-font-size: 17px;
    -fx-control-inner-background: #385fc7;
}

#printMore {
    -fx-font-size: 17px;
    -fx-control-inner-background: #437367;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#printEx {
    -fx-font-size: 17px;
    -fx-control-inner-background: #437367;
}

.scroll-bar {
    -fx-background-color :transparent;
    -fx-border-color :transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding: 1;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.1em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #fa815a;
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #fa815a;
    -fx-background-insets : 1.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

